<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
    <meta name="author" content="FREEHTML5.CO" />


    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico"/>

    <!-- Google Webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'/>

    <!-- Animate.css -->
    <link rel="stylesheet" th:href="@{/css/animate.css}" href="css/animate.css"/>
    <link rel="stylesheet" th:href="@{/css/table.css}"/>
    <link rel="stylesheet" th:href="@{/css/search_component.css}" type="text/css" href="css/component.css" />
    <link rel="stylesheet" th:href="@{/css/search_default.css}" type="text/css" href="css/default.css" />
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" th:href="@{/css/icomoon.css}"  href="css/icomoon.css"/>
    <!-- Magnific Popup -->
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}" href="css/magnific-popup.css"/>
    <!-- Salvattore -->
    <link rel="stylesheet" th:href="@{/css/salvattore.css}" href="css/salvattore.css"/>
    <!-- Theme Style -->
    <link rel="stylesheet" th:href="@{/css/book.css}" href="css/book.css"/>
    <!-- Modernizr JS -->
    <script src="/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div id="fh5co-offcanvass">
    <a href="#" class="fh5co-offcanvass-close js-fh5co-offcanvass-close">Menu <i class="icon-cross"></i> </a>
    <h1 class="fh5co-logo"><a class="navbar-brand" href="home.html">Book Store</a></h1>
    <ul>
        <li class="active"><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/book}">Books</a></li>
        <li><a th:href="@{/stationery}">Stationery</a></li>
        <li><a th:href="@{/tea}">Tea</a></li>
        <li><a sec:authorize="hasRole('USER')" th:href="@{/user/generate}">Generate report</a></li>
        <li><a sec:authorize="hasRole('EMPLOYEE')" th:href="@{/employee/add_book}">Add book</a></li>
        <li><a sec:authorize="hasRole('EMPLOYEE')" th:href="@{/employee/add_st}">Add stationery</a></li>
        <li><a sec:authorize="hasRole('EMPLOYEE')" th:href="@{/employee/add_tea}">Add tea</a></li>
        <li><a sec:authorize="hasRole('EMPLOYEE')" th:href="@{/employee/view}">View orders</a></li>
        <li><a sec:authorize="hasRole('EMPLOYEE')" th:href="@{/employee/generate}">Generate report</a></li>
        <li><a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/view}">View users</a></li>
        <li><a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/add}">Add user</a></li>
        <li><a th:href="@{/logout}">Logout</a></li>
    </ul>
</div>
<header id="fh5co-header" role="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="#" class="fh5co-menu-btn js-fh5co-menu-btn">Menu <i class="icon-menu"></i></a>
                <a class="navbar-brand" href="home.html">Book Store</a>
            </div>
        </div>
    </div>
    <div class="column">
        <div id="sb-search" class="sb-search">
            <form th:action="@{/admin/view}" th:method="post">
                <input class="sb-search-input" placeholder="Search..." type="text" value="" name="search" id="search"/>
                <input class="sb-search-submit" type="submit" value=""/>
                <span class="sb-icon-search"></span>
            </form>
        </div>
    </div>

</header>
<!-- END .header -->

<form th:action="@{/admin/view}" th:method="get">
    <div class="table-title">
        <h1>Tea</h1>
    </div>
    <table class="table-fill">
        <thead>
        <tr>
            <th class="text-left">Username</th>
            <th class="text-left">Role</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')" class="text-left">Update</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')" class="text-left">Delete</th>
            <!--<th class="text-left">INC</th>-->
            <!--<th class="text-left">Birth Date</th>-->
            <!--<th class="text-left">Address</th>-->

        </tr>
        </thead>
        <tbody class="table-hover">
        <tr th:each="user:${users}">
            <td class="text-left" th:text="${user.username}">Title</td>
            <td class="text-left" th:text="${user.role}">Author</td>
            <!--<td class="text-left" th:text="${patient.birthDate}">BirthDate</td>-->
            <!--<td class="text-left" th:text="${patient.address}">Address</td>-->
            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin/update(param=${user.id})}">Update</a></td>
            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin/delete(param=${user.id})}">Delete</a></td>
        </tr>
        <!--<input type="hidden" name="book" th:value="${book}"/>-->
        </tbody>
    </table>
</form>
<!--<div id="fh5co-main">-->
<!--<div class="container">-->

<!--<div class="row">-->

<!--<div id="fh5co-board" >-->

<!--<form th:action="@{/home}" th:method="get">-->
<!--<div >-->
<!--<div th:each="book:${products}" >-->
<!--<a th:href="${book.image}" title="da"><img th:src="${book.image}" alt="Free HTML5 Bootstrap template"/></a>-->
<!--</div>-->
<!--<div class="fh5co-desc"><a href="/buy">Add to cart</a> </div>-->
<!--</div>-->

<!--<div th:each="book:${products}" >-->
<!--<div >-->
<!--<a th:href="${book.image}" ><img th:src="${book.image}" alt="Free HTML5 Bootstrap template"/></a>-->
<!--<div class="fh5co-desc"><a href="/buy">Add to cart</a> </div>-->
<!--</div>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<footer>

</footer>
<!-- jQuery -->
<script src="/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="/js/jquery.waypoints.min.js"></script>
<!-- Magnific Popup -->
<script src="/js/jquery.magnific-popup.min.js"></script>
<!-- Salvattore -->
<script src="/js/salvattore.min.js"></script>
<!-- Main JS -->
<script src="/js/main.js"></script>
<script src="../js/classie.js"></script>
<script src="../js/uisearch.js"></script>
<script>
    new UISearch( document.getElementById( 'sb-search' ) );
</script>
</body>
</html>
