<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Sign-Up/Login</title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body>
<div class="form">

    <ul class="tab-group">
        <li class="tab active"><a href="#login">Log In</a></li>
        <li class="tab"><a href="#signup">Sign Up</a></li>
    </ul>

    <div class="tab-content">
        <div id="login" >
            <div th:if="${param.error}" align="center">
                <h1>Invalid credentials! Please check again.</h1>
            </div>
            <h1>Welcome Back!</h1>

            <form th:action="@{/login}" method="post">

                <div class="field-wrap">
                    <label>
                        Username<span class="req">*</span>
                    </label>
                    <input type="text" name="user" required="required"/>
                </div>

                <div class="field-wrap">
                    <label>
                        Password<span class="req">*</span>
                    </label>
                    <input type="password" name="pass" required="required"/>
                </div>


                <button class="button button-block">Log In</button>
            </form>
        </div>
        <div id="signup">
            <h1>Sign Up for Free</h1>

            <form th:action="@{/register}" method="post">

                <div class="top-row">
                    <div class="field-wrap">
                        <label>
                            Username<span class="req">*</span>
                        </label>
                        <input type="text" name="username" required="required"/>
                    </div>

                    <div class="field-wrap">
                        <label>
                            Password<span class="req">*</span>
                        </label>
                        <input type="password" name="password" required="required" />
                    </div>
                </div>

                <div class="field-wrap">
                    <label>
                        Name<span class="req">*</span>
                    </label>
                    <input type="text" name="name" required="required"/>
                </div>

                <div class="field-wrap">
                    <label>
                        PNC<span class="req">*</span>
                    </label>
                    <input type="text" name="pnc" required="required" pattern="[12][0-9]{12}"/>
                </div>

                <div class="field-wrap">
                    <label>
                        Email Address<span class="req">*</span>
                    </label>
                    <input type="email" name="email" required="required"/>
                </div>

                <div class="field-wrap">
                    <label>
                        Phone<span class="req">*</span>
                    </label>
                    <input type="text" name="phone" required="required" pattern="[07][0-9]{9}"/>
                </div>

                <div class="field-wrap">
                    <label>
                        Address<span class="req">*</span>
                    </label>
                    <input type="text" name="address" required="required"/>
                </div>

                <button type="submit" class="button button-block">Get Started</button>
            </form>
        </div>
    </div><!-- tab-content -->
</div> <!-- /form -->
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<script src="/js/index.js"></script>

</body>
</html>
